<!doctype html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <!-- Load CSS and Javascript -->
    <link href={{url_for('static', filename='css/bootstrap.min.css')}}  rel="stylesheet" />
    <link href={{url_for('static', filename='css/bootstrap-theme.min.css')}}  rel="stylesheet" />
    <script src={{url_for('static', filename='js/jquery.js')}}></script>
    
    <title>{% block title %}{% endblock %} - pyelectron</title>
  </head>
  
  <body>
    {% include "partials/header_navbar.html" %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>    
  </body>
</html>
